@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

:root {
  /* background-color */
  --bg-white: #fff;
  /* text color */
  --primary-text: #061738;
  --secondary-color: #60cd12;
  --light-color: #e2f6de;
  --dark-color: #03262c;
  --text-white: #fff;
  --text-gray: #dbcfcf;
  --anchor-color: #007aff;

  /* font family */
  --primary-font: "Barlow Condensed", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}
body,
html {
  color: var(--primary-text);
  font-size: 10px;
  font-weight: 400;
  font-family: var(--primary-font);
  scroll-behavior: smooth;
  line-height: 1.5;

  /* overflow-x: hidden; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1 {
  font-size: 9rem;
  line-height: 1.4;
  font-weight: 600;
  color: var(--text-white);
}
h2 {
  color: var(--primary-text);
  font-size: 4.7rem;
  font-weight: 600;
  display: inline-block;
  text-transform: capitalize;
  line-height: 1.2;
  margin-bottom: 2rem;
  font-family: var(--primary-font);
}
h3 {
  color: var(--text-white);
  font-size: 4rem;
  line-height: 1;
  font-weight: 700;
  /* color: var(--primary-text); */
}
h4 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  color: var(--primary-text);
}
h5 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  color: var(--primary-text);
}
p {
  font-size: 2rem;
  line-height: 1;
  margin-top: 1rem;
  color: var(--dark-color);
  font-family: var(--secondary-font);
}
embed,
iframe,
img,
object {
  max-width: 100%;
}

.header {
  background: url("../images/header-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 2rem 5rem;
}
.navbar-nav {
  margin-left: 20px;
}
.nav-item .nav-link {
  font-size: 16px;
  font-weight: 550;
  /* letter-spacing: 1px; */
  border-radius: 3px;
  transition: 0.5s ease;
  margin-left: 40px;
}
.nav-item .nav-link:hover {
  background: #ffa500;
  color: white;
}
.header {
  position: absolute;
  width: 100%;
  top: 2rem;
  left: 0;
  z-index: 2;
}
.header .navbar-toggler {
  border: 2px solid;
  border-color: white;
  color: white;
  font-size: 2rem;
}
.header-scrolled {
  position: fixed;
  /* background-size: cover; */
  top: -0.4rem;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1320px;
  margin: auto;
  z-index: 999;
  transition: 0.3s all ease-in-out;
}
.login-button {
  background-color: #da110a;
  border: 2px solid;
  border-color: #fff;
  color: #fff;
  font-size: 14px;
  padding: 8px 40px;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s background-color;
}
.login-button:hover {
  border-color: rgb(12, 97, 244);
  background-color: #f3df0b;
  color: black;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a,
a:active,
a:focus,
a:hover,
button {
  text-decoration: none;
  outline: 0;
}
li a {
  color: var(--text-white);
}
a:hover,
button:hover {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: var(--white);
}
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

.main-btn {
  position: relative;
  /* color: var(--bg-white); */
  background: linear-gradient(to right, #f30e12, #f48d06);
  z-index: 1;
  overflow: hidden;
  border: 0.2rem solid var(--bg-white);
  /* border-color: #fff; */
  color: #fff;
  font-size: 14px;
  padding: 8px 40px;
  border-radius: 3.5rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s background-color;
  text-transform: uppercase;
  /* border: 2px solid;
    border-color: #fff;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 1rem 3.5rem;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    letter-spacing: 0.2rem;
    transition: 0.3s background-color; */
}

.main-btn:hover {
  background: #f48d06;
  color: white;
  border: 0.2rem solid white;
}
section {
  padding: 5rem 0;
}
.section-title {
  font-size: 4rem;
  font-weight: 600;
  color: var(--primary-text);
  /* text-transform: uppercase; */
  margin-bottom: 2rem;
}
.section-subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-text);
  font-family: var(--secondary-font);
  max-width: 40%;
  margin: auto;
  margin-bottom: 1.5rem;
}
.about .banner_section,
.services .banner_section,
.gallery .banner_section,
.testimonials .banner_section,
.contact .banner_section,
.slide .banner_section {
  background: url("../images/banner-slide/rose1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 17rem;
  padding-bottom: 10rem;
  min-height: auto;
}

/* banner-section */
.banner_section {
  background: url("../images/banner-slide/wedding.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 90vh;
}
.banner_section .carousel-item {
  padding: 3rem 0;
  height: 90vh;
}
.banner_section .carousel-caption {
  top: 30%;
  bottom: 0;
  left: 1%;
  right: 0;
  text-align: left;
  width: 100%;
}
/* .banner_section .carousel-caption h1{
    font-size: 7rem;
    line-height: 1.4;
    font-weight: 600;
    color: var(--text-white);
} */
.banner_section .carousel-caption h3 {
  color: var(--text-white);
  font-size: 3rem;
  line-height: 1;
  padding: 0.5rem 1.5rem;
  background-color: var(--dark-color);
  display: inline;
}
.banner_section .carousel-caption p {
  font-size: 2rem;
  line-height: 1;
  margin-top: 1rem;
  color: var(--text-gray);
  font-family: var(--secondary-font);
  max-width: 40rem;
  margin-bottom: 2rem;
}
/* Search Bar */
.search-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#citySearch {
  padding: 10px;
  margin-right: 10px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#cityDropdown {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
/* services-section start*/
.title h1 {
  font-size: 4rem;
  line-height: 1.4;
  font-weight: 600;
  color: black;
}
.title h1 span {
  color: #ffa500;
}
.services-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.services-col {
  height: 22rem;
  color: black;
  background: url("../images/banner-slide/glass.webp");
  background-color: lightgray;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  flex: 1 1 25rem;
  padding: 1.2rem;
  margin: 1.5rem;
}
.services-col i {
  padding: 2.2rem;
  border: none;
  background: aliceblue;
  color: #f70e48;
  border-radius: 5rem;
  font-size: 2rem;
}
.services-col h2 {
  color: #03262c;
}
.services-col p {
  color: #f3df0b;
}
.services-col i :hover {
  color: #89aacd;
  transform: scale(1);
}
.hii :hover {
  color: #b10d0d;
}
.para :hover {
  color: #da110a;
}

/* services-section end */
/* About section start */
.landing_about_section {
  background: url("../images/about/event-management.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 9rem 0;
}
.about-details p {
  color: var(--primary-text);
  margin-bottom: 2rem;
}
.about-content h2 {
  color: var(--primary-text);
  font-size: 4.7rem;
  font-weight: 600;
  display: inline-block;
  text-transform: capitalize;
  line-height: 1.2;
  margin-bottom: 2rem;
}
/* About section End */
/* Testimonial section start */
.testimonial_section {
  background-color: var(--light-color);
  padding-bottom: 8rem;
}
.testimonial_section .carousel-indicators {
  bottom: -6rem;
}
.testimonial_section .carousel-indicators button {
  background-color: var(--dark-color);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
}
.testimonial_section .card {
  background: url("../images/testimonial/testimonial-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: right;
  padding: 5rem 5rem 5rem 0;
  border-radius: 0.5rem 0.5rem 0;
  border: 0.1rem solid transparent;
}
.testimonial_section .profile-box {
  padding: 1.875rem;
  background-color: var(--dark-color);
  border-radius: 0.5rem 0 0 0.5rem;
}
.testimonial_section .profile-box img {
  border-radius: 0.625rem 3.125rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonial_section .desc-box {
  padding-left: 2.5rem;
}
/* Testimonial section end */
/* Gallery CSS start */
.gallery_section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Gallery CSS end */
/* Footer section start */
.footer_wrapper {
  background: url("../images/footer-bg/footer_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 15rem;
  padding-bottom: 0rem;
}
.footer_wrapper h5 {
  color: var(--text-white);
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
}
.footer_wrapper ul li {
  margin-bottom: 0.5rem;
  list-style: none;
}
.footer_wrapper .company_details {
  font-size: 1.4rem;
}
.footer_wrapper .contact-info li a {
  color: var(--text-gray);
  font-size: 1.6rem;
}
.footer_wrapper .link-widget li a,
.footer_wrapper p {
  /* text-decoration: none; */
  color: var(--text-gray);
  font-size: 1.6rem;
  padding-left: 1.5rem;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.footer_wrapper .link-widget li a:before {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 0.3rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.footer_wrapper .link-widget li a :hover {
  /* text-decoration: #007aff; */
  margin-left: 0.625rem;
  color: blue;
}
.footer_wrapper .social-network a {
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.2rem;
  margin: 0.5rem;
  display: inline-block;
  border: 0.125rem solid var(--text-gray);
  color: var(--text-gray);
  text-align: center;
  font-size: 1.25rem;
  border-radius: 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.footer_wrapper .social-network a:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--text-white);
  box-shadow: 0 0.625rem 0.9375rem 0 rgb(0 0 0 /10%);
  transform: translateY(-0.1875rem);
}
.footer_wrapper .form-control {
  font-size: 2rem;
  color: var(--text-white);
}
.footer_wrapper .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--secondary-color);
}
.footer_wrapper .copyright-section {
  background-color: var(--secondary-color);
  text-align: center;
  margin-top: 5rem;
}
.footer_wrapper .copyright-section p {
  margin-top: 0;
  padding: 3rem 0;
  line-height: 0;
}
.footer_wrapper .copyright-section a {
  color: var(--primary-text);
  font-weight: 600;
}
/* Footer section end */
/* =========About Page CSS Start ======== */
/* banner section start */
/* .about .banner_section{
    background: url('../images/banner-slide/rose1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem ;
    padding-bottom: 10rem;
    min-height: auto;
} */
.banner-content {
  top: 30%;
  bottom: 0;
  left: 1%;
  right: 0;
  text-align: left;
  width: 100%;
  /* padding: 20%; */
}
.banner-content h1 {
  font-size: 8rem;
  font-family: var(--primary-font);
  line-height: 1.4;
  font-weight: 600;
  color: var(--text-white);
  padding: 3rem 0;
}
.about .about-details p {
  color: var(--primary-text);
}
/* banner section end */
/* =========About Page CSS end ======== */
/* =========Gallery Page CSS start ======== */
.gallery .gallery_section h2 {
  color: var(--primary-text);
  font-size: 4.7rem;
  font-weight: 600;
  display: inline-block;
  text-transform: capitalize;
  line-height: 1.2;
  margin-bottom: 2rem;
  font-family: var(--primary-font);
}
/* =========Gallery Page CSS end ======== */
/* =========contact Page CSS start ======== */
.contact .contact-form {
  background-color: #f7a7ac;
  padding: 5rem;
  box-shadow: 0 0.2rem 1.5rem rgb(0 0 0/4%);
}
.contact .contact-form .form-control :focus {
  outline: none;
  box-shadow: none;
  /* border-color: var(--secondary-color); */
}
.contact .contact-form .form-control::placeholder {
  color: var(--primary-text);
}
.contact .contact-form .form-control {
  padding: 1rem 1.5rem;
  /* border-radius: 0rem; */
  border: 0.1rem solid var(--secondary-color);
  color: var(--primary-text);
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--secondary-font);
}
.contact .contact-form textarea {
  min-height: 15rem;
}
.contact .contact-form .info-box li {
  position: relative;
  padding-left: 7rem;
  padding-bottom: 3.5rem;
  margin-bottom: 2.9rem;
}
.contact .contact-form .info-box li i {
  position: absolute;
  left: 0;
  top: 1.5rem;
  font-size: 4.5rem;
  line-height: 4.5rem;
  color: var(--primary-text);
}
.contact .contact-form .info-box li p {
  color: var(--primary-text);
}
.contact .contact-form .info-box li a {
  color: var(--dark-color);
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0;
  font-family: var(--secondary-font);
}
/* =========contact Page CSS end ======== */
/* product card css start */
.container1 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
 flex-direction: column;
  height: 50vh;
}
.product .product-card {
  z-index: 1;
  background: #1d212b;
  position: relative;
  width: 300px;
  height: 310px;
  margin: 40px;
  border-radius: 10px;
}
.product .product-card:before {
  content: "";
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.product .product-card .product-img {
  z-index: 1;
  position: absolute;
  max-width: 600px;
  max-height: 250px;
  top: 20%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.product .product-card .name {
  z-index: 2;
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 130px;
  font-size: 25px;
  /* padding: -20px; */
  /* font-weight: 500; */
  letter-spacing: 1px;
}
.product .product-card .price {
  z-index: 2;
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 80px;
  padding: auto;
  font-size: 30px;
  font-weight: 500;
}
.product .product-card .popup-btn {
  z-index: 2;
  color: #fff;
  background: #555;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
}
.product .popup-view {
  z-index: 2;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.product .popup-view.active {
  opacity: 1;
  visibility: visible;
}

.product .popup-card {
  position: relative;
  display: flex;
  width: 800px;
  height: 500px;
  margin: 20px;
}

.product .popup-card .product-img {
  z-index: 2;
  background: #1d212b;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 90%;
  transform: translateY(25px);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.product .popup-card .product-img img {
  z-index: 2;
  position: relative;
  width: 450px;
  left: -50px;
}
.product .popup-card .info {
  z-index: 2;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 10px;
}
.product .popup-card .close-btn {
  color: #555;
  z-index: 3;
  position: absolute;
  right: 0;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}
.product .popup-card .info h2 {
  font-size: 40px;
  line-height: 20px;
  margin: 10px;
}
.product .popup-card .info h2 span {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.product .popup-card .info p {
  font-size: 15px;
  margin: 10px;
}
.product .popup-card .info .price {
  font-size: 45px;
  font-weight: 300;
  margin: 10px;
}
.product .popup-card .info .add-cart-btn {
  color: #fff;
  background: #009dd2;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10x auto;
  padding: 10px 50px;
  border-radius: 20px;
}
.product .popup-card .info .add-wish {
  color: #009dd2;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}
/* product card css end */
/* Responsive product card styles start */
@media (max-width: 900px) {
  .product .popup-card {
    flex-direction: column;
    width: 550px;
    height: auto;
  }

  .product .popup-card .product-img {
    z-index: 3;
    width: 100%;
    height: 200px;
    transform: translateY(0);
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .product .popup-card .product-img img {
    left: initial;
    max-width: 50%;
  }
  .product .popup-card .info {
    width: 100%;
    height: auto;
    padding: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .product .popup-card .info h2 {
    margin: 20px 5px 5px 5px;
    font-size: 25px;
  }
  .product .popup-card .info h2 span {
    font-size: 10px;
  }
  .product .popup-card .info p {
    margin: 5px;
    font-size: 13px;
  }

  .product .popup-card .info .price {
    margin: 5px;
    font-size: 23px;
  }
  .product .popup-card .info .add-cart-btn {
    margin: 5px auto;
    padding: 5px 40px;
    font-size: 14px;
  }
  .product .popup-card .info .add-wish {
    font-size: 14px;
  }

  .product .popup-card .close-btn {
    z-index: 4;
  }
}

/* Responsive product card styles end*/
/* slider css start */


/* slider css end */
